In [1]:
import pandas as pd
import requests

In [2]:
API_TOKEN = "PTdd20P9btERrQPcRSTXpxLtfl2iIwz7OWi8LrLg9jhw51MtOC9CtTuWzP6Y"
params = {"api_token": API_TOKEN, "include": "lineups.details.type"}

In [3]:
data = requests.get("https://api.sportmonks.com/v3/football/fixtures/19146817", params=params).json()["data"]
match = pd.json_normalize(data)

In [4]:
lineups = pd.json_normalize(match.lineups[0])
len(lineups)

40

In [5]:
def head_skip_all_nan(df, n):
    return df.dropna(axis=1, how='all').head(n)
    
head_skip_all_nan(lineups.drop('details', axis=1), 5)

,id,sport_id,fixture_id,player_id,team_id,position_id,type_id,formation_position,player_name,jersey_number
0,14597927439,1,19146817,123690,246,26,11,5.0,James Brown,2
1,14597927412,1,19146817,580993,246,25,11,4.0,Ryan David Leak,3
2,14597927435,1,19146817,9654,246,25,11,2.0,Akil Wright,4
3,14597927126,1,19146817,174741,246,26,12,NaN,Scott Allardice,6
4,14597927130,1,19146817,34422813,246,26,12,NaN,Victor Loturi,7

In [6]:
lineups.to_pickle("lineups.pkl")