In [1]:
import pandas as pd
import requests

In [2]:
lineups = pd.read_pickle("lineups.pkl")

In [3]:
exploded = lineups.explode('details').reset_index(drop=True)
normalized = pd.json_normalize(exploded["details"])
pd.concat([exploded.drop('details', axis=1), normalized[["data.value", "type.name"]]], axis=1)

,id,sport_id,fixture_id,player_id,team_id,position_id,formation_field,type_id,formation_position,player_name,jersey_number,data.value,type.name
0,14597927439,1,19146817,123690,246,26,None,11,5.0,James Brown,2,75,Accurate Passes Percentage
1,14597927439,1,19146817,123690,246,26,None,11,5.0,James Brown,2,6,Total Duels
2,14597927439,1,19146817,123690,246,26,None,11,5.0,James Brown,2,2,Fouls Drawn
3,14597927439,1,19146817,123690,246,26,None,11,5.0,James Brown,2,4,Duels Won
4,14597927439,1,19146817,123690,246,26,None,11,5.0,James Brown,2,12,Accurate Passes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,14597927129,1,19146817,37344344,273,26,None,11,8.0,Topi Keskinen,81,1,Big Chances Missed
881,14597927129,1,19146817,37344344,273,26,None,11,8.0,Topi Keskinen,81,27,Possession Lost
882,14597927129,1,19146817,37344344,273,26,None,11,8.0,Topi Keskinen,81,1,Passes In Final Third
883,14597927129,1,19146817,37344344,273,26,None,11,8.0,Topi Keskinen,81,8,Backward Passes
884,14597927129,1,19146817,37344344,273,26,None,11,8.0,Topi Keskinen,81,5,Turn Over